@font-face {
    font-family: 'Flaticons Solid';
    src: url('/fonts/flaticons-solid.eot');
    src: url('/fonts/flaticons-solid.eot?#iefix') format("embedded-opentype"),
    url('/fonts/flaticons-solid.woff') format('woff'),
    url('/fonts/flaticons-solid.ttf') format('truetype'),
    url('/fonts/flaticons-solid.svg#flaticons-solid') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}