.axis path {
    stroke: #000;
}

.tick line {
    stroke: #000;
}

g.axis.time {
    background: #EEE;
}

text.label {
    pointer-events: none;
}

g.axis.time .tick line {
    stroke: #FFF;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

g.axis.time path.domain {
    stroke: none;
}

g.axis.time .tick text {
    fill: #888;
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;
}

line.snap, line.value {
    shape-rendering: crispEdges;
    pointer-events: none;
}

path.line {
    fill: none;
}

circle.dot, g.label {
    pointer-events: none;
}

:host {
    background: #FFF;
}

svg {
    position: absolute;
    top: 0; left: 0;
}

#selectionMessage {
    text-align: center;
    margin-top: 20px;
    color: #666;
}