<polymer-element name="md-line-plot" style="position: absolute;">
<template>
  <link rel="stylesheet" media="screen" href="md-line-plot.css">
  <div id="selectionMessage">Select polygons to show line plot</div>
  <svg id="svg"></svg>
</template>
<script src="md-line-plot.js"></script>
</polymer-element>