<polymer-element name="md-panel" attributes="polygons">
<template>
  <link rel="stylesheet" href="md-panel.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  
  <md-aggregation-functions id="aggregators"></md-aggregation-functions>
  <md-ajax id="ajax"></md-ajax>
  
  <div class="panel-container">
    <div class="panel">
      <md-leaflet-map id="map"></md-leaflet-map>
    
      <md-line-plot id="plot"></md-line-plot>
      
      <div id="splitter"><span>...</span></div>
  
      <div class="panel-menu" id="menu">
        <div class="arrow-container" on-click="{{_toggleMenu}}">
          <i class="fa arrow"></i>
        </div>
        <div id="gear" on-click="{{_toggleGearMenu}}" class="gear-container">
          <i class="fa fa-cog gear-icon"></i>
        </div>
        <div id="options" class="options">
          <md-expression id="expression" on-change="{{_expressionChanged}}" class="expression"></md-expression> 
          <select is="md-fn-select" on-change="{{_aggregationChanged}}" id="fnSelect" class="selector"></select>
        </div>
      </div>
      <div id="gearMenu" class="gear-menu hidden">
        <div class="gear-menu-line"></div>
        <ul class="optionList">
          <li id="lineShow" class="lineShow">Show line plot</li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script src="md-panel.js"></script>
</polymer-element>
