.panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.panel {
    background-color: #CBCBCB;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5), inset 0 0 3px
        rgba(255, 255, 255, 0.65);
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    right: 4px;
}

.panel-menu {
    font-size: 13px;
    position: absolute;
    top: 9px;
    right: 9px;
    left: 9px;
    height: 36px;
    border-radius: 3px;
    background-color: #EEE;
    border: 1px solid #999;
    margin-left: 0;
    /* TODO: non-webkit browsers */
    -webkit-transition: left .4s, right .4s, margin-left .4s;
}

.panel-menu.panel-menu-closed {
    left: 100%;
    margin-left: -25px;
    right: -100%;
}

.arrow-container {
    position: absolute;
    width: 25px;
    bottom: 0;
    top: 0;
    border-right: 1px solid #D4D4D4;
}

.panel-menu-closed .arrow:before {
    content: "\f100"; /* FontAwesome */
}

.arrow:before {
    content: "\f101"; /* FontAwesome */
}

.arrow {
    font-size: 23px;
    position: absolute;
    left: 7px;
    top: 6px;
    color: #000;
    opacity: .75;
    text-shadow: 0 -1px 0 white;
}

.panel-menu-closed .arrow {
    left: 6px;
}

.arrow-container:hover {
    cursor: pointer;
    background-color: #F8F8F8;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.gear-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0px;
    width: 38px;
    border-left: 1px solid #D4D4D4;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gear-container:hover, .gear-container.open {
    cursor: pointer;
    background-color: #F8F8F8;
}

.gear-container.open {
    border-left: 1px solid #999;
    border-bottom-right-radius: 0px;
}

.gear-icon {
    font-size: 24px;
    color: black;
    opacity: .75;
    position: absolute;
    top: 6px;
    left: 9px;
}

.gear-menu {
    position: absolute;
    right: 9px;
    top: 46px;
    bottom: auto;
    width: 140px;
    background-color: #F8F8F8;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.optionList {
    list-style-type: none;
}

.lineShow.active {
    color: black;
    cursor: pointer;
}

.lineShow {
    color: #A9A9A9;
    cursor: default;
}

.gear-menu-line {
    position: absolute;
    top: 0;
    right: 39px;
    left: 0;
    height: 1px;
    background-color: #999;
}

.hidden {
    display: none;
}

.leaflet-top {
    top: 45px !important;
}

.leaflet-control-zoom {
    background-color: #EEE !important;
    right: 1px;
}

.options {
    position: absolute;
    left: 25px;
    right: 38px;
    top: 0;
    bottom: 0;
    padding-top: 5px;
    padding-left: 6px;
}

.selector {
    border-radius: 2px;
    outline: none;
    border: 1px solid #999;
    padding: 3px 3px 3px 3px;
    height: 25px;
    box-sizing: border-box;
    vertical-align: top;
}

.expression {
    width: 200px;
    height: 25px;
    vertical-align: top;
}

#splitter {
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    margin-top: -5px; /* should be height/2 */
    background-color: #EEE;
    cursor: -webkit-grab;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
}

#splitter > span {
  position: relative;
  bottom: 11px;
  font-size: 20px;
  color: #666;
}

#map {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

md-line-plot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}