<polymer-element name="md-ajax"> <script>
  (function() {
    function ajax(url, method, json) {
      return function(callback) {

        return function(handler) {
          req.onerror = handler;
        }
      }
    }

    var routes = window.$evil.routes;
    var prototype = {};

    //Test code, please ignore
    Object.keys(routes).forEach(function(controller) {
      prototype[controller] = {};

      Object.keys(routes[controller]).forEach(function(method) {
        prototype[controller][method] = function() {
          var opts = routes[controller][method].apply(null, arguments);
          return function(success, error, json) {
            if (json === undefined && typeof error === "boolean") {
              json = error;
              error = undefined;
            } else if (json === undefined) {
              json = true;
            }

            var req = new XMLHttpRequest();

            req.onload = function() {
              var result = json ? JSON.parse(req.response) : req.response;
              success(req.status, result);
            }

            req.onerror = function(err) {
              if (error)
                error(err);
            }

            req.open(opts.method, opts.url);
            req.send();
          }
        }
      })
    });

    Polymer("md-ajax", prototype);
  })();
</script> </polymer-element>