:host {
    font-family: sans-serif;
    display: block;
    height: 100%;
    background: #555;
}

.header {
    height: 36px;
    width: 100%;
    color: #EEEEEE;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -moz-linear-gradient(top, #555555 6%, #333333 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #555555),
        color-stop(100%, #333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555555 6%, #333333 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555555 6%, #333333 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #555555 6%, #333333 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #555555 6%, #333333 100%);
    /* W3C */
}

.brand {
    position: relative;
    left: 9px;
    top: 9px;
    font-size: 16px;
    font-family: OpenSans, sans-serif;
    text-shadow: 0 1px 1px #000000;
}

.right {
    float: right;
    font-size: 13px;
    height: 100%;
}

.right>span {
    vertical-align: top;
    margin-left: 9px;
}

.mid {
    position: relative;
    top: 11px;
}

.i {
    font-style: italic;
}

.buttons {
    background: #252525;
    display: inline-block;
    height: 100%;
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top, #333333 0%, #555555 94%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333),
        color-stop(94%, #555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333333 0%, #555555 94%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333333 0%, #555555 94%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333333 0%, #555555 94%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #555555 94%);
    /* W3C */
    margin-left: 9px;
}

.add {
    display: inline-block;
    padding-top: 8px;
    margin-right: 9px;
    margin-left: 9px;
    color: #EAEAEA;
    font-size: 20px;
    text-shadow: 0 1px black;
    cursor: pointer;
}

.add:hover {
    color: #FBFBFB;
}

.add:active {
    color: #C6C6C6 !important;
    text-shadow: 0 -1px black;
}

.dialog-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    padding: 0;
}

.dialog-container.modal {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.15)
}

.dialog-container .dialog-spinner {
    display: none;
}

.dialog-container.loading .dialog-spinner {
    display: block;
}

.dialog-inner {
    display: table-cell;
    vertical-align: middle;
}

.dialog-container.loading .dialog-content {
    display: none;
}

.dialog {
    padding: 24px;
    width: 600px;
    background: white;
    box-shadow: 0 0 60px rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
    display: table;
}

.dialog-container.loading .dialog {
    width: auto;
    box-shadow: 0 0 0 rgba(0,0,0,1);
}

.dialog-close {
    float: right;
    cursor: pointer;
}

.dialog-title {
    color: #444;
    margin-top: 0;
}

.blur {
    -webkit-filter: blur(2px);
}

.link {
    color: #AAA;
    text-decoration: underline;
}

.hidden {
    display: none;
}