<polymer-element name="md-dashboard" attributes="email">
<template>
  <link rel="stylesheet" media="screen" href="/stylesheets/solid.css">
  <link rel="stylesheet" media="screen" href="md-dashboard.css">
  <md-ajax id="ajax"></md-ajax>
  
  <div>
    <div class="header">
      <span class="brand">MapDeck</span>
      <div class="right">
        <span class="mid" id="email">{{email}}</span>
        <a href="/logout" class="mid link">logout</a>
        <span class="buttons">
          <span class="add flaticon solid add-window-1" id="add-button" on-click="{{_addPanel}}"></span>
        </span>
      </div>
    </div>
    <md-panels class="panels" id="panels"></md-panels>
  </div>
  <div id="dialogContainer" class="dialog-container modal hidden">
    <div class="dialog-inner">
      <div id="dialog" class="dialog">
        <span id="dialogClose" class="dialog-close" on-click="{{_closeDialog}}">X</span>
        <h1 class="dialog-title">Add Panel</h1>
        <p><select id="panelSelect"></select></p>
        <p><button on-click="{{_submitPanel}}">Add</button></p>
      </div>
    </div>
  </div>
</template>
<script src="md-dashboard.js"></script>
</polymer-element>