<polymer-element name="md-expression">
<template>
  <link rel="stylesheet" href="/stylesheets/fonts.css">
  <link rel="stylesheet" href="md-expression.css">
  <md-ajax id="ajax"></md-ajax>
  
  <span id="edit" on-focus="{{_onFocus}}" on-blur="{{_onBlur}}" class="editable empty" contentEditable="true"></span>
  <div id="choices" class="choices hidden">
    <ul id="layers"></ul>
  </div>
</template>
<script src="md-expression.js"></script>
</polymer-element>
