.editable {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    border-radius: 2px;
    outline: none;
    border: 1px solid #999;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    background: #FFF;
    box-sizing: border-box;
    height: 100%;
}

.editable.empty {
    color: #AAA;
}

.choices {
    width: 100%;
    box-sizing: border-box;
    background: white;
    position: relative;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    background: #333;
    color: #EEE;
    -webkit-user-select: none;
    cursor: default;
}

.choices ul {
    padding: 3px 0 3px 0;
    margin: 0;
}

.choices li {
    padding: 3px 5px 3px 5px;
    list-style: none;
}

/*.choices li:hover {
    color: #FFF;
    background: #777;
    box-shadow: 2px 0 rgba(0, 0, 0, 0.15);
}*/

.hidden {
    display: none;
}

span.error {
    background: url("/images/wiggle.gif") left bottom repeat-x;
}

:host {
    display: inline-block;
}