#map {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.leaflet-control-layers {
    background-color: #EEE !important;
    border-radius: 3px;
    border: 1px solid #999 !important;
    width: 30px;
    height: 30px;
    position: relative;
    right: 1px;
    bottom: 2px;
    box-shadow: none !important;
}

.leaflet-control-layers:hover {
    width: auto;
    height: auto;
}

.leaflet-control {
    border: 1px solid #999 !important;
    background: #EEE !important;
}

.leaflet-bar a {
    background: none !important;
    opacity: 0.75 !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}

.leaflet-bar {
    box-shadow: none !important;
}

.leaflet-bar a:hover {
    background: #FFF !important;
}

.leaflet-control-layers-toggle {
    background-image: url("/images/layers.svg") !important;
    background-size: 23px !important;
    background-position: center !important;
    opacity: 0.75;
    width: 30px !important;
    height: 30px !important;
}

.leaflet-top {
    top: 45px !important;
}

.leaflet-control-zoom {
    background-color: #EEE !important;
    right: 1px;
}