<polymer-element name="md-leaflet-map"> <template>
<link rel="stylesheet" href="/stylesheets/leaflet.css" />
<link rel="stylesheet" href="md-leaflet-map.css" />

<div id="map"></div>
</template> <script src="md-leaflet-map.js"></script> </polymer-element>