<polymer-element name="md-panels">
<template>
  <link rel="stylesheet" media="screen" href="md-panels.css">
  <md-command-history id="commands"></md-command-history>
  <md-ajax id="ajax"></md-ajax>
  <div class="container">
    <div id="container" class="spacer">
      <div id="spinner" class="spinner"></div>
    </div>
  </div>
</template>
<script src="md-panels.js"></script> </polymer-element>