.container {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 36px;
    background-color: #555;
    padding: 0 5px;
}

md-panel {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
}

.spacer {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 4px;
    left: 4px;
}

.spinner {
    position: absolute;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none;
}