Luke and Isaac, awesome code, great job!

<ul>
  <li><a href="@routes.Application.login">login</a></li>
  <li><a href="@routes.Application.register">register</a></li>
  <li><a href="@routes.Application.logout">logout</a></li>
  <li></li>
  <li><a href="@routes.Dashboard.index">dashboard</a></li>
  <li></li>
  <li><a href="@routes.Polygons.create">create polygon set</a></li>
  <li><a href="@routes.Polygons.list">list polygon sets</a></li>
</ul>